<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Printer Control</title>
    <link rel="icon" href="/logos/logo.png">
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/daisyUI.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body class="bg-gray-900 text-white">
    <header class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <img src="/logos/logo.png" alt="Logo" class="w-24 h-24">
            <nav>
                <ul class="flex space-x-4">
                    <li><a href="#" class="hover:text-gray-400">Home</a></li>
                    <li><a href="/upload" class="hover:text-gray-400">Upload</a></li>
                    <li><a href="/printing" class="hover:text-gray-400">Status</a></li>
                    <li><a href="/control" class="hover:text-gray-400">Control</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <script src="/js/sockets.io.js"></script>
    <script src="/js/scripts/control.js"></script>
    <%- body %>
    <footer class="bg-gray-800 text-white py-4 fixed bottom-0 w-full">
        <div class="container mx-auto text-center">
            <p>&copy; JUST PRINT IT</p>
        </div>
    </footer>
</body>
</html>
