<div class="flex justify-center m-20rs" id="upload">
    
</div>

<script>
   socket.on('connect',()=>{
        console.log('conncted')
        document.getElementById('upload').innerHTML=`<div class="card w-96 bg-base-100 shadow-xl">
                                                      <figure class="px-10 pt-10">
                                                        <img src="https://picsum.photos/400/200" alt="Shoes" class="rounded-xl" />
                                                      </figure>
                                                      <div class="card-body items-center text-center p-4">
                                                        <form action="/upload" method="post" enctype="multipart/form-data">
                                                          <input type="file" name="uploadedFile" class="file-input file-input-bordered file-input-primary w-full max-w-xs"/>
                                                          <button class="btn btn-primary p-4 m-4">Upload</button> <!-- Changed p4 to p-4 -->
                                                        </form>
                                                      </div>
                                                    </div>`
    })
</script>
